<div class="nav-tab">
    <div class="nav-tab-item">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-rili"></use>
        </svg>
        <span>明细</span>
    </div>
    <div class="nav-tab-item">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-rili"></use>
        </svg>
        <span>图表</span>
    </div>
    <div class="nav-tab-item nav-super-tab-item">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-add-select"></use>
        </svg>
        <span>记账</span>
    </div>
    <div class="nav-tab-item">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-rili"></use>
        </svg>
        <span>社区</span>
    </div>
    <div class="nav-tab-item">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-rili"></use>
        </svg>
        <span>我的</span>
    </div>
</div>